<% if notice %>
  <span class="z-50 border-solid border-[1px] border-gray-300 p-2 text-center bg-flash text-notice rounded-lg absolute left-1/2 -translate-x-1/2 top-8 animate-fade-in-out"><%= notice %></span>
<% end %>
<% if alert %>
  <span class="z-50 border-solid border-[1px] border-gray-300 p-2 text-center bg-flash text-alert rounded-lg absolute left-1/2 -translate-x-1/2 top-8  animate-fade-in-out"><%= alert %></span>
<% end %>
