<nav class="h-24 bg-nav  flex justify-between px-12">
  <div class="links flex items-center font-bold text-2xl">
    <%= link_to "HOME", root_path, data: {turbo: false}, class: "text-white hover:opacity-70" %>
    <%# TODO: ABOUT %>
    <%= link_to "ABOUT", '/about', class: "text-accent hover:opacity-70 ml-8" %>
    <%# TODO: CONTACT %>
    <%= link_to "CONTACT", '/contact', class: "text-accent hover:opacity-70 ml-8" %>
  </div>
  <div id="actions" class="actions flex items-center font-bold text-2xl">
    <%= render "shared/sign_button" %>
  </div>
</nav>
