<div data-controller="sign-in-modal" class="grid place-items-center fixed z-10 top-0 left-0 h-screen w-screen text-gray-700">
  <div data-action="click->sign-in-modal#closeModal" class="flex items-center justify-center w-screen h-screen bg-black opacity-60">
  </div>
  <div class="absolute top-1/2 -translate-y-1/2 m-auto border-1 round">
    <%= render content %>
  </div>
</div>
