<main>
  <div class="h-96 bg-visual grid grid-cols-2 px-12">
    <div class="left flex flex-col justify-center items-start pl-10">
      <h1 class="text-3xl text-white">WELCOME TO</h1>
      <h1 class="text-3xl text-accent">COFFYA</h1>
      <h3 class="text-xl mt-8 text-white">ENJOY COFFEE & JAZZ</h3>
    </div>
    <div class="right flex justify-center items-center">
      <%= image_tag 'coffee.png' %>
    </div>
  </div>
</main>
