<div data-controller="payment-select">
  <label for="payment_method" class="inline-block"><%= t("views.orders.payment_method") %> </label>
  <%= text_field_tag :payment_method, nil, class: "p-2 mb-4 outline-none", required: true, readonly: true, placeholder: t("views.orders.choose_a_payment_method"), autocomplete: "off" %>
  <div class="flex">
    <% if Order::PAYMENT_METHODS.include?("stripe") %>
      <%= image_tag("stripe.png", class: "bg-white hover:opacity-70 cursor-pointer w-24", data: { value: "stripe", action: "click->payment-select#pick" }) %>
    <% end %>
    <%# image_tag("direct.svg", class: "w-24", data: { value: "user", action: "click->payment-select#pick" })  %>
  </div>
</div>
