<%= turbo_stream_from "cart_items" %>
<table class="text-gray-700 border-separate border-spacing-y-6">
  <thead class="font-normal text-sm">
    <tr>
      <th class="min-w-[80px] w-[14%]"></th>
      <th class="w-[38%]">商品</th>
      <th class="w-[15%]">單價</th>
      <th class="w-[17%]">數量</th>
      <th class="w-[15%]">小計</th>
      <th class="min-w-[72px]"></th>
    </tr>
  </thead>
  <tbody id="cart_items">
    <% items.each do |cart_item| %>
      <%= render partial: "cart_items/cart_item", locals: { cart_item: cart_item, product: cart_item.product } %>
    <% end %>
  </tbody>
</table>
