<div class="flex flex-col items-center justify-center">
  <%= image_tag 'cart_empty.svg', class: "w-[30vw]" %>
  <h2 class="m-10 text-gray-700"><%= t("views.carts.empty") %></h2>
  <div class="flex w-full justify-center items-center gap-8">
    <%= link_to t("views.carts.back_to_home"), root_path, class: "hover:opacity-80 w-32 inline-block text-center bg-gray-300 text-gray-700 outline-none py-2 px-4 border-solid border-[1px] border-gray-300 rounded-sm" %>
    <%= link_to t("views.carts.favorite_list"), "#", class: "hover:opacity-80 w-32 inline-block text-center bg-gray-300 text-gray-700 outline-none py-2 px-4 border-solid border-[1px] border-gray-300 rounded-sm" %>
  </div>
</div>
