<%# Only listen to web socket when there's any item to watch %>
<div class="max-w-[70vw] m-auto h-screen py-5">
  <h1 class="text-gray-700">購物車</h1>
  <% if @items.any? %>
    <%= render partial: "carts/cart", locals: { items: @items } %>
    <hr class="border-gray-500 m-4">
  <% else %>
    <%= render partial: "carts/empty" %>
  <% end %>
</div>
