@tailwind base;
@tailwind components;
@tailwind utilities;
/* https://github.com/rails/rails/issues/43441 */
/* @import 'actiontext.css'; */

@layer components {
  input[type='number'] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
