<section class="mt-8">
  <h1 class="text-gray-500 text-lg text-center">PRODUCTS</h1>
  <hr class="border-gray-500 m-4">
  <div class="products grid grid-cols-4 gap-6 p-8">
    <%= render "products/products" %>
  </div>
</section>
